PORT=3001
DATABASE_URL=postgresql://postgres:1228@localhost:5432/superad_db
JWT_SECRET=KrishCL1228
FRONTEND_URL=http://localhost:5173
CLOUDINARY_CLOUD_NAME=dfies8b0l
CLOUDINARY_API_KEY=385879476449256
CLOUDINARY_API_SECRET=72a7f_r6CGyXG_0f3qnhKQay9KY
ADMIN_USERNAME=admin
ADMIN_PASSWORD=Superad1228
NODE_ENV=development
